# Summarize Divvy by Community
2/16/24

In [1]:
import pandas as pd

# Read Full Year

In [2]:
df = pd.read_csv("../data/divvy-stations-clean-2023_02-to-2024-01.csv")

In [3]:
df.head()

,start_station_name,rides_all,rides_january,rides_jan14_16,first_ride,last_ride,first_lat,first_lng,community,edit community,...,recode,community_clean,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len
0,Karlov Ave & Lawrence Ave,58,3,0,2023/10/20,2024/01/13,41.967880,-87.730414,ALBANY PARK,NaN,...,NaN,ALBANY PARK,0.0,53542230.82,0.0,14.0,14.0,0.0,0.0,39339.01644
1,Kedzie Ave & Leland Ave,2134,58,1,2023/02/01,2024/01/31,41.966463,-87.708333,ALBANY PARK,NaN,...,NaN,ALBANY PARK,0.0,53542230.82,0.0,14.0,14.0,0.0,0.0,39339.01644
2,Monticello Ave & Lawrence Ave,216,23,0,2023/09/20,2024/01/31,41.968058,-87.719664,ALBANY PARK,NaN,...,NaN,ALBANY PARK,0.0,53542230.82,0.0,14.0,14.0,0.0,0.0,39339.01644
3,N Shore Channel Trail & Argyle St,1128,22,0,2023/02/01,2024/01/29,41.970000,-87.703086,ALBANY PARK,NaN,...,NaN,ALBANY PARK,0.0,53542230.82,0.0,14.0,14.0,0.0,0.0,39339.01644
4,Public Rack - 4810 Keeler Ave,56,0,0,2023/05/12,2023/12/18,41.968245,-87.733088,ALBANY PARK,NaN,...,NaN,ALBANY PARK,0.0,53542230.82,0.0,14.0,14.0,0.0,0.0,39339.01644

In [4]:
### reconcile totals

In [5]:
# stations
len(df)

1597

In [6]:
# rides
df['rides_all'].sum()

4806289